html {

	background-color: rgb(240, 240, 240);
	-webkit-text-size-adjust: none;

}

body {

	font: 18px/24px "Helvetica", "Arial", sans-serif;
	max-width: 100%;
	
}

pre, xmp, plaintext, listing {

	font-family: "Consolas", "Inconsolata", "Courier New", "Courier", monospace !important; 

	overflow-x: auto;
	display: block;
	white-space: pre-wrap;

}
