//	WFPresentationDiscrete
//	Styles specifically created for discrete previews in the Overview

html.wf-presentation-discrete {

	background-color: brightness(242);

	padding: 0px;
	width: 100%;
	height: 100%;
	
	font-size: 17.5px;
	
	body {
	
		margin: 0px;
			
		font: 1em/1.43em $FONT_SANS_SERIF_BOOK_DISCRETE;
		
		max-width: 100%;
		height: 100%;
		
		> div {
			
			// &:first-child, + div {
		
			// 	padding-top: 20px;
			
			// }
		
			// &:last-child {
			
			// 	padding-bottom: 20px;
	
			// }
			
			text-overflow: ellipsis;
			overflow: hdden;

			&.content {
				
				padding-left: 8px;
				padding-right: 8px;
				padding-top: 8px;
				
				p {
				
					color: rgb(77, 77, 77);
				
				}
				
				.textContainer {
				
					overflow: hidden;
					text-overflow: ellipsis;
				
					word-wrap: break-word;
					
					width: auto;

				}
			
			}
			
			&.footer {
			
			}
		
		}
		
		.previewContainer {
		
			background: url(WAPreviewStripePattern.png) repeat repeat;
			
			margin: 8px;
			
			font: 16px/20px "Palatino";

			.imageContainer {
			
				//	padding-right: 4px;
			
			}
						
			.textContainer {
			
				padding: 8px;
				
			}
			
			h1 {
		
				font: 18px/24px "Georgia", "HiraMinProN-W6", sans-serif;
				font-weight: bold;
				padding: 0px;
				margin: 0px;
				
				overflow: hidden;
				text-overflow: ellipsis;
				height: 24px;
				-webkit-line-clamp: 1;

			}
			
			h2, span.provider {
			
				font: 16px/20px "HelveticaNeue", "Helvetica Neue", "HiraKakuProN-W6";
			
				display: inline;
				padding: 0px;
				margin: 0px;
				
				&:after {
				
					content: " • ";
				
				}
				
				&:empty:after {
				
					content: "";
				
				}
			
			}
			
			p {
			
				font-family: "Palatino-Roman", "HiraMinProN-W3", serif;
			
			}
		
		}
		
		.footer {
		
			padding-top: 0px;
			padding-bottom: 0px;
		
			font: 11px/16px "HelveticaNeue-Bold";
			text-align: right;
			
			p {
			
				margin-right: 20px;
				
				color: rgb(160, 160, 160);
			
			}
		
		}
	
	}
	
	p {
	
		margin-bottom: 0px;
	
	}
	
}
