//	WFPresentationFullFrame
//	Styles specifically created for full-frame previews

html.wf-presentation-full-frame {

	padding: 3em 4em 4em 4em;

	.header {
	
		h1 {
		
			padding: 0;
			margin: 0;
			
			font-size: 1.8em;
			line-height: 1.35em;
			
			//	color: brightness(80);
			
			color: rgb(104, 176, 197);
			
			font-weight: bold;
			
			font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
		
		}
		
		h2 {
		
			padding: 0 0 0 20px;
			margin: 0;
			
			font-size: 0.85em;
			
			font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica Neue", sans-serif;
			
			color: brightness(146);

			background-image: url(ProviderIcon.png);
			background-repeat: no-repeat;
			background-position: 2px 14px;

		}
		
		h2 + h1, h1 + h2 {
		
			padding-top: 0.25em;
		
		}
		
		padding-bottom: 2em;
		
	}

}
