@import "Stylesheets/WFPresentationUtilities";
@import "Stylesheets/WFPresentationTypography";

@import "Stylesheets/WFPresentationFullFrame";
@import "Stylesheets/WFPresentationDiscrete";

.box {

	display: -webkit-box;

}

.box-orient-vertical {

	-webkit-box-orient: vertical;

}

.box-orient-horizontal {
	
	-webkit-box-orient: horizontal;
	
}

.box-pack-center {

	-webkit-box-pack: center;

}


.box-flex {

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

}

.box-flex-2 {

	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;

}

.box-flex-group-1 {

	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;

}


.wf-content-clamp-container {

	display: block !important;
	overflow: hidden;

}

.wf-content-clamp {

  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;

}


.wf-centered-image-container {

	overflow: hidden;
  vertical-align: middle;
  position: relative;
  
	img {
	
	  position: absolute;
		display: block;		
		margin-right: 24px;
			
		&[src=""] {
		
			display: none;
			
		}

	}
	
}
