/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, WFPreviewScreen.scss */
html {
  background-color: #f0f0f0;
  -webkit-text-size-adjust: none;
  padding: 3em 2em 2em 2em;
}

/* line 30, WFPreviewScreen.scss */
html {
  font-size: 14pt;
}

@media screen and (max-width: 320px) {
  /* line 38, WFPreviewScreen.scss */
  html {
    font-size: 12pt;
  }
}
/* line 47, WFPreviewScreen.scss */
body {
  font: 1em/1.625em "Georgia", serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  max-width: 100%;
  /*
  	text-align: justify;
  	text-justify: trim;
  */
}

/* line 64, WFPreviewScreen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #202020;
  padding-top: 1em;
}

/* line 75, WFPreviewScreen.scss */
h1 {
  font-size: 2.125em;
  margin-bottom: 0.765em;
}

/* line 82, WFPreviewScreen.scss */
h2 {
  font-size: 1.9em;
  margin-bottom: 0.855em;
}

/* line 89, WFPreviewScreen.scss */
h3 {
  font-size: 1.7em;
  margin-bottom: 0.956em;
}

/* line 96, WFPreviewScreen.scss */
h4 {
  font-size: 1.4em;
  margin-bottom: 1.161em;
}

/* line 103, WFPreviewScreen.scss */
h5, h6 {
  font-size: 1.313em;
  margin-bottom: 1.238em;
}

/* line 110, WFPreviewScreen.scss */
.header {
  padding-bottom: 2em;
}
/* line 112, WFPreviewScreen.scss */
.header h1 {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
  line-height: 1.35em;
  color: #c66b4b;
  font-weight: bold;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
}
/* line 130, WFPreviewScreen.scss */
.header h2 {
  padding: 0;
  margin: 0;
  font-size: 0.85em;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica Neue", sans-serif;
  color: #929292;
}
/* line 143, WFPreviewScreen.scss */
.header h2 + h1, .header h1 + h2 {
  padding-top: 0.25em;
}

/* line 153, WFPreviewScreen.scss */
a {
  color: #404040;
  font-weight: bold;
  text-decoration: underline;
}
/* line 159, WFPreviewScreen.scss */
a:hover {
  text-decoration: underline;
}

/* line 167, WFPreviewScreen.scss */
strong {
  font-weight: bold;
}

/* line 173, WFPreviewScreen.scss */
em, dfn {
  font-style: italic;
}

/* line 179, WFPreviewScreen.scss */
dfn {
  font-weight: bold;
}

/* line 185, WFPreviewScreen.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
}

/* line 191, WFPreviewScreen.scss */
address {
  margin-top: 1.625em;
  font-style: italic;
}

/* line 198, WFPreviewScreen.scss */
del {
  color: #000;
}

/* line 204, WFPreviewScreen.scss */
caption {
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  color: #303030;
  padding-bottom: 1em;
}

/* line 215, WFPreviewScreen.scss */
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.625em;
  border-collapse: collapse;
}
/* line 225, WFPreviewScreen.scss */
table tr td {
  border-bottom: 1px solid #dcdcdc;
  border-spacing: 0px;
}
/* line 232, WFPreviewScreen.scss */
table tr th {
  font-weight: bold;
  border-bottom: 2px solid #b4b4b4;
}
/* line 239, WFPreviewScreen.scss */
table tr:last-child {
  border-bottom: 2px solid #b4b4b4;
}
/* line 247, WFPreviewScreen.scss */
table tr, table th, table td {
  margin: 0;
  padding: 0 1.625em 0 1em;
  height: 2.25em;
}
/* line 255, WFPreviewScreen.scss */
table tfoot {
  font-style: italic;
}

/* line 263, WFPreviewScreen.scss */
pre, xmp, plaintext, listing {
  font-family: "Courier", Courier, monospace;
  overflow-x: auto;
  display: block;
  white-space: pre-wrap;
}

/* line 273, WFPreviewScreen.scss */
p {
  margin-bottom: 0.8125em;
  color: #111;
  font-weight: 300;
}
/* line 279, WFPreviewScreen.scss */
p + p {
  text-indent: 1.625em;
}
/* line 283, WFPreviewScreen.scss */
p + p img {
  text-indent: -1.625em;
}
/* line 291, WFPreviewScreen.scss */
p .first:first-letter {
  float: left;
  font-family: baskerville,"palatino linotype",serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: -0.2em;
  padding: 0.2em 0.1em 0 0;
}

/* line 299, WFPreviewScreen.scss */
p img, a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  background-color: white;
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 323, WFPreviewScreen.scss */
blockquote {
  padding: 0 1em 0 1em;
  margin: 1em 0 1.625em 0;
  font-family: georgia, serif;
  font-style: italic;
  border-left: 4px solid silver;
}
/* line 333, WFPreviewScreen.scss */
blockquote > p {
  margin: 0;
  padding: 0;
}

/* line 342, WFPreviewScreen.scss */
pre, code, tt {
  font: 1em "Courier", Courier, monospace;
  line-height: 1.375em;
}

/* line 349, WFPreviewScreen.scss */
pre, code {
  display: block;
  margin: 1.625em 0;
  white-space: pre-wrap;
}

/* line 357, WFPreviewScreen.scss */
pre code {
  margin-left: 0em;
}

/* line 363, WFPreviewScreen.scss */
tt {
  display: block;
  margin: 1.625em 0;
}

/* line 369, WFPreviewScreen.scss */
ul, ol, dl {
  list-style-position: outside;
  margin: 0 0 1.625em 0;
}

/* line 376, WFPreviewScreen.scss */
dl dt {
  font-weight: bold;
}

/* line 382, WFPreviewScreen.scss */
dl dd {
  margin-left: 1.625em;
}

/* line 390, WFPreviewScreen.scss */
hr {
  margin-bottom: 1.625em;
}

/* line 397, WFPreviewScreen.scss */
html.discrete {
  background-color: #f2f2f2;
  padding: 0px 0px 0px 0px;
  font-size: 17.5px;
  width: 100%;
  height: 100%;
}
/* line 407, WFPreviewScreen.scss */
html.discrete body {
  margin: 4px 4px 4px 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  font: 1em/1.43em "Fontin Sans Bold", "FontinSans-Bold", "HiraKakuProN-W6", "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro W6", "STHeitiTC-Medium", "STHeitiSC-Medium", sans-serif;
  max-width: 100%;
  height: 100%;
}
/* line 421, WFPreviewScreen.scss */
html.discrete body > div {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 423, WFPreviewScreen.scss */
html.discrete body > div:first-child {
  padding-top: 20px;
}
/* line 429, WFPreviewScreen.scss */
html.discrete body > div:last-child {
  padding-bottom: 20px;
}
/* line 439, WFPreviewScreen.scss */
html.discrete body > div.content {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 450, WFPreviewScreen.scss */
html.discrete body > div.content p {
  color: #4d4d4d;
}
/* line 456, WFPreviewScreen.scss */
html.discrete body > div.content .textContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
  width: 100%;
}
/* line 479, WFPreviewScreen.scss */
html.discrete body .previewContainer {
  background: url(WAPreviewStripePattern.png) repeat repeat;
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 8px;
  font: 16px/20px "Palatino";
}
/* line 491, WFPreviewScreen.scss */
html.discrete body .previewContainer .imageContainer {
  float: left;
  max-width: 64px;
  height: 64px;
  overflow: hidden;
  padding-right: 4px;
  display: table-cell;
}
/* line 504, WFPreviewScreen.scss */
html.discrete body .previewContainer .imageContainer img {
  vertical-align: bottom;
  max-width: 100%;
}
/* line 509, WFPreviewScreen.scss */
html.discrete body .previewContainer .imageContainer img[src=""] {
  display: none;
}
/* line 520, WFPreviewScreen.scss */
html.discrete body .previewContainer .textContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* line 530, WFPreviewScreen.scss */
html.discrete body .previewContainer h1 {
  font: 18px/24px "HoeflerText-Black", "Hoefler Text Black", "HoeflerText", "Hoefler Text", "HiraMinProN-W6", sans-serif;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  -webkit-line-clamp: 1;
}
/* line 543, WFPreviewScreen.scss */
html.discrete body .previewContainer h2, html.discrete body .previewContainer span.provider {
  font: 16px/20px "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "HiraKakuProN-W6";
  display: inline;
  padding: 0px;
  margin: 0px;
}
/* line 551, WFPreviewScreen.scss */
html.discrete body .previewContainer h2:after, html.discrete body .previewContainer span.provider:after {
  content: " • ";
}
/* line 557, WFPreviewScreen.scss */
html.discrete body .previewContainer h2:empty:after, html.discrete body .previewContainer span.provider:empty:after {
  content: "";
}
/* line 565, WFPreviewScreen.scss */
html.discrete body .previewContainer p {
  font-family: "Palatino-Roman", "HiraMinProN-W3", serif;
  display: inline;
}
/* line 575, WFPreviewScreen.scss */
html.discrete body .footer {
  font: 11px/16px "HelveticaNeue-Bold";
  text-align: right;
}
/* line 580, WFPreviewScreen.scss */
html.discrete body .footer p {
  margin-bottom: 0px;
  margin-right: 12px;
  color: #a0a0a0;
}
/* line 595, WFPreviewScreen.scss */
html.discrete.no-body .content {
  display: none;
}
/* line 601, WFPreviewScreen.scss */
html.discrete.no-body .previewContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  width: auto;
}
/* line 609, WFPreviewScreen.scss */
html.discrete.no-body .previewContainer .textContainer {
  display: block;
}
/* line 613, WFPreviewScreen.scss */
html.discrete.no-body .previewContainer .textContainer p {
  display: -webkit-box;
}
/* line 627, WFPreviewScreen.scss */
html.discrete.no-preview .content {
  background: url(WAPreviewQuoteBackdrop.png) top left no-repeat;
  background-position: 0px 12px;
}
/* line 634, WFPreviewScreen.scss */
html.discrete.no-preview .previewContainer {
  display: none;
}
