/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, Stylesheets/_WFPresentationTypography.scss */
html {
  -webkit-text-size-adjust: none;
  font-size: 14pt;
}

@media screen and (max-width: 320px) {
  /* line 21, Stylesheets/_WFPresentationTypography.scss */
  html {
    font-size: 12pt;
  }
}
/* line 29, Stylesheets/_WFPresentationTypography.scss */
html {
  background-color: #f0f0f0;
}

/* line 35, Stylesheets/_WFPresentationTypography.scss */
body {
  font: 1em/1.625em "Georgia", serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  max-width: 100%;
}

/* line 47, Stylesheets/_WFPresentationTypography.scss */
h1, h2, h3, h4, h5, h6 {
  padding-top: 1em;
  font-weight: normal;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #202020;
}

/* line 58, Stylesheets/_WFPresentationTypography.scss */
h1 {
  font-size: 2.125em;
  margin-bottom: 0.765em;
}

/* line 65, Stylesheets/_WFPresentationTypography.scss */
h2 {
  font-size: 1.9em;
  margin-bottom: 0.855em;
}

/* line 72, Stylesheets/_WFPresentationTypography.scss */
h3 {
  font-size: 1.7em;
  margin-bottom: 0.956em;
}

/* line 79, Stylesheets/_WFPresentationTypography.scss */
h4 {
  font-size: 1.4em;
  margin-bottom: 1.161em;
}

/* line 86, Stylesheets/_WFPresentationTypography.scss */
h5, h6 {
  font-size: 1.313em;
  margin-bottom: 1.238em;
}

/* line 93, Stylesheets/_WFPresentationTypography.scss */
a {
  color: #404040;
  font-weight: bold;
  text-decoration: underline;
}
/* line 99, Stylesheets/_WFPresentationTypography.scss */
a:hover {
  text-decoration: underline;
}

/* line 107, Stylesheets/_WFPresentationTypography.scss */
strong {
  font-weight: bold;
}

/* line 113, Stylesheets/_WFPresentationTypography.scss */
em, dfn {
  font-style: italic;
}

/* line 119, Stylesheets/_WFPresentationTypography.scss */
dfn {
  font-weight: bold;
}

/* line 125, Stylesheets/_WFPresentationTypography.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
}

/* line 131, Stylesheets/_WFPresentationTypography.scss */
address {
  margin-top: 1.625em;
  font-style: italic;
}

/* line 138, Stylesheets/_WFPresentationTypography.scss */
del {
  color: #000;
}

/* line 144, Stylesheets/_WFPresentationTypography.scss */
caption {
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  color: #303030;
  padding-bottom: 1em;
}

/* line 155, Stylesheets/_WFPresentationTypography.scss */
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.625em;
  border-collapse: collapse;
}
/* line 165, Stylesheets/_WFPresentationTypography.scss */
table tr td {
  border-bottom: 1px solid #dcdcdc;
  border-spacing: 0px;
}
/* line 172, Stylesheets/_WFPresentationTypography.scss */
table tr th {
  font-weight: bold;
  border-bottom: 2px solid #b4b4b4;
}
/* line 179, Stylesheets/_WFPresentationTypography.scss */
table tr:last-child {
  border-bottom: 2px solid #b4b4b4;
}
/* line 187, Stylesheets/_WFPresentationTypography.scss */
table tr, table th, table td {
  margin: 0;
  padding: 0 1.625em 0 1em;
  height: 2.25em;
}
/* line 195, Stylesheets/_WFPresentationTypography.scss */
table tfoot {
  font-style: italic;
}

/* line 203, Stylesheets/_WFPresentationTypography.scss */
pre, xmp, plaintext, listing {
  font-family: "Courier", Courier, monospace;
  overflow-x: auto;
  display: block;
  white-space: pre-wrap;
}

/* line 213, Stylesheets/_WFPresentationTypography.scss */
p {
  margin-bottom: 0.8125em;
  color: #111;
  font-weight: 300;
}
/* line 219, Stylesheets/_WFPresentationTypography.scss */
p + p {
  text-indent: 1.625em;
}
/* line 223, Stylesheets/_WFPresentationTypography.scss */
p + p img {
  text-indent: -1.625em;
}

/* line 233, Stylesheets/_WFPresentationTypography.scss */
p img, a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  background-color: white;
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 253, Stylesheets/_WFPresentationTypography.scss */
blockquote {
  padding: 0 1em 0 1em;
  margin: 1em 0 1.625em 0;
  font-family: georgia, serif;
  font-style: italic;
  border-left: 4px solid silver;
}
/* line 263, Stylesheets/_WFPresentationTypography.scss */
blockquote > p {
  margin: 0;
  padding: 0;
}

/* line 272, Stylesheets/_WFPresentationTypography.scss */
pre, code, tt {
  font: 1em "Courier", Courier, monospace;
  line-height: 1.375em;
}

/* line 279, Stylesheets/_WFPresentationTypography.scss */
pre, code {
  display: block;
  margin: 1.625em 0;
  white-space: pre-wrap;
}

/* line 287, Stylesheets/_WFPresentationTypography.scss */
pre code {
  margin-left: 0em;
}

/* line 293, Stylesheets/_WFPresentationTypography.scss */
tt {
  display: block;
  margin: 1.625em 0;
}

/* line 299, Stylesheets/_WFPresentationTypography.scss */
ul, ol, dl {
  list-style-position: outside;
  margin: 0 0 1.625em 0;
}

/* line 306, Stylesheets/_WFPresentationTypography.scss */
dl dt {
  font-weight: bold;
}

/* line 312, Stylesheets/_WFPresentationTypography.scss */
dl dd {
  margin-left: 1.625em;
}

/* line 318, Stylesheets/_WFPresentationTypography.scss */
hr {
  margin-bottom: 1.625em;
}

/* line 4, Stylesheets/_WFPresentationFullFrame.scss */
html.wf-presentation-full-frame {
  padding: 3em 2em 2em 2em;
}
/* line 8, Stylesheets/_WFPresentationFullFrame.scss */
html.wf-presentation-full-frame .header {
  padding-bottom: 2em;
}
/* line 10, Stylesheets/_WFPresentationFullFrame.scss */
html.wf-presentation-full-frame .header h1 {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
  line-height: 1.35em;
  color: #68b0c5;
  font-weight: bold;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
}
/* line 28, Stylesheets/_WFPresentationFullFrame.scss */
html.wf-presentation-full-frame .header h2 {
  padding: 0;
  margin: 0;
  font-size: 0.85em;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica Neue", sans-serif;
  color: #929292;
}
/* line 41, Stylesheets/_WFPresentationFullFrame.scss */
html.wf-presentation-full-frame .header h2 + h1, html.wf-presentation-full-frame .header h1 + h2 {
  padding-top: 0.25em;
}

/* line 4, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete {
  background-color: #f2f2f2;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 17.5px;
}
/* line 14, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body {
  margin: 0px;
  font: 1em/1.43em "Fontin Sans Bold", "FontinSans-Bold", "HiraKakuProN-W6", "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro W6", "STHeitiTC-Medium", "STHeitiSC-Medium", sans-serif;
  max-width: 100%;
  height: 100%;
}
/* line 23, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body > div {
  text-overflow: ellipsis;
  overflow: hdden;
}
/* line 40, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body > div.content {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}
/* line 46, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body > div.content p {
  color: #4d4d4d;
}
/* line 52, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body > div.content .textContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: auto;
}
/* line 71, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer {
  background: url(WAPreviewStripePattern.png) repeat repeat;
  margin: 8px;
  font: 16px/20px "Palatino";
}
/* line 85, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer .textContainer {
  padding: 8px 8px 0 8px;
}
/* line 91, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer h1 {
  font: 18px/24px "Georgia", "HiraMinProN-W6", sans-serif;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  -webkit-line-clamp: 1;
}
/* line 105, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer h2, html.wf-presentation-discrete body .previewContainer span.provider {
  font: 16px/20px "HelveticaNeue", "Helvetica Neue", "HiraKakuProN-W6";
  padding: 0 0 0 20px;
  margin: 0px;
  background-image: url(ProviderIcon.png);
  background-repeat: no-repeat;
  background-position: 2px 6px;
}
/* line 116, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer h2:after, html.wf-presentation-discrete body .previewContainer span.provider:after {
  content: " ";
}
/* line 123, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer h2:empty:after, html.wf-presentation-discrete body .previewContainer span.provider:empty:after {
  content: " ";
}
/* line 131, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .previewContainer p {
  font-family: "Palatino-Roman", "HiraMinProN-W3", serif;
}
/* line 139, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .footer {
  padding-top: 0px;
  padding-bottom: 0px;
  font: 11px/16px "HelveticaNeue-Bold";
  text-align: right;
}
/* line 147, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete body .footer p {
  margin-right: 20px;
  color: #a0a0a0;
}
/* line 159, Stylesheets/_WFPresentationDiscrete.scss */
html.wf-presentation-discrete p {
  margin-bottom: 0px;
}

/* line 7, WFPreviewScreen.scss */
.box {
  display: -webkit-box;
}

/* line 13, WFPreviewScreen.scss */
.box-orient-vertical {
  -webkit-box-orient: vertical;
}

/* line 19, WFPreviewScreen.scss */
.box-orient-horizontal {
  -webkit-box-orient: horizontal;
}

/* line 25, WFPreviewScreen.scss */
.box-pack-center {
  -webkit-box-pack: center;
}

/* line 32, WFPreviewScreen.scss */
.box-flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

/* line 40, WFPreviewScreen.scss */
.box-flex-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
}

/* line 48, WFPreviewScreen.scss */
.box-flex-group-1 {
  -webkit-box-flex-group: 1;
  -moz-box-flex-group: 1;
  box-flex-group: 1;
}

/* line 57, WFPreviewScreen.scss */
.wf-content-clamp-container {
  display: block !important;
  overflow: hidden;
}

/* line 64, WFPreviewScreen.scss */
.wf-content-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* line 75, WFPreviewScreen.scss */
.wf-centered-image-container {
  overflow: hidden;
  vertical-align: middle;
  position: relative;
}
/* line 81, WFPreviewScreen.scss */
.wf-centered-image-container img {
  position: absolute;
  display: block;
  margin-right: 24px;
}
/* line 87, WFPreviewScreen.scss */
.wf-centered-image-container img[src=""] {
  display: none;
}
