/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, WFPreviewScreen.scss */
html {
  background-color: #f0f0f0;
  -webkit-text-size-adjust: none;
  padding: 3em 2em 2em 2em;
}

/* line 28, WFPreviewScreen.scss */
html {
  font-size: 14pt;
}

@media screen and (max-width: 320px) {
  /* line 36, WFPreviewScreen.scss */
  html {
    font-size: 12pt;
  }
}
/* line 49, WFPreviewScreen.scss */
body {
  font: 1em/1.625em "Georgia", serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  max-width: 100%;
  /*
  	text-align: justify;
  	text-justify: trim;
  */
}

/* line 66, WFPreviewScreen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #202020;
  padding-top: 1em;
}

/* line 77, WFPreviewScreen.scss */
h1 {
  font-size: 2.125em;
  margin-bottom: 0.765em;
}

/* line 84, WFPreviewScreen.scss */
h2 {
  font-size: 1.9em;
  margin-bottom: 0.855em;
}

/* line 91, WFPreviewScreen.scss */
h3 {
  font-size: 1.7em;
  margin-bottom: 0.956em;
}

/* line 98, WFPreviewScreen.scss */
h4 {
  font-size: 1.4em;
  margin-bottom: 1.161em;
}

/* line 105, WFPreviewScreen.scss */
h5, h6 {
  font-size: 1.313em;
  margin-bottom: 1.238em;
}

/* line 112, WFPreviewScreen.scss */
.header {
  padding-bottom: 2em;
}
/* line 114, WFPreviewScreen.scss */
.header h1 {
  padding: 0;
  margin: 0;
  font-size: 1.8em;
  line-height: 1.35em;
  color: #c66b4b;
  font-weight: bold;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
}
/* line 132, WFPreviewScreen.scss */
.header h2 {
  padding: 0;
  margin: 0;
  font-size: 0.85em;
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica Neue", sans-serif;
  color: #929292;
}
/* line 145, WFPreviewScreen.scss */
.header h2 + h1, .header h1 + h2 {
  padding-top: 0.25em;
}

/* line 155, WFPreviewScreen.scss */
a {
  color: #404040;
  font-weight: bold;
  text-decoration: underline;
}
/* line 161, WFPreviewScreen.scss */
a:hover {
  text-decoration: underline;
}

/* line 169, WFPreviewScreen.scss */
strong {
  font-weight: bold;
}

/* line 175, WFPreviewScreen.scss */
em, dfn {
  font-style: italic;
}

/* line 181, WFPreviewScreen.scss */
dfn {
  font-weight: bold;
}

/* line 187, WFPreviewScreen.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
}

/* line 193, WFPreviewScreen.scss */
address {
  margin-top: 1.625em;
  font-style: italic;
}

/* line 200, WFPreviewScreen.scss */
del {
  color: #000;
}

/* line 206, WFPreviewScreen.scss */
caption {
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  color: #303030;
  padding-bottom: 1em;
}

/* line 217, WFPreviewScreen.scss */
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.625em;
  border-collapse: collapse;
}
/* line 227, WFPreviewScreen.scss */
table tr td {
  border-bottom: 1px solid #dcdcdc;
  border-spacing: 0px;
}
/* line 234, WFPreviewScreen.scss */
table tr th {
  font-weight: bold;
  border-bottom: 2px solid #b4b4b4;
}
/* line 241, WFPreviewScreen.scss */
table tr:last-child {
  border-bottom: 2px solid #b4b4b4;
}
/* line 249, WFPreviewScreen.scss */
table tr, table th, table td {
  margin: 0;
  padding: 0 1.625em 0 1em;
  height: 2.25em;
}
/* line 257, WFPreviewScreen.scss */
table tfoot {
  font-style: italic;
}

/* line 265, WFPreviewScreen.scss */
pre, xmp, plaintext, listing {
  font-family: "Courier", Courier, monospace;
  overflow-x: auto;
  display: block;
  white-space: pre-wrap;
}

/* line 275, WFPreviewScreen.scss */
p {
  margin-bottom: 0.8125em;
  color: #111;
  font-weight: 300;
}
/* line 281, WFPreviewScreen.scss */
p + p {
  text-indent: 1.625em;
}
/* line 285, WFPreviewScreen.scss */
p + p img {
  text-indent: -1.625em;
}
/* line 293, WFPreviewScreen.scss */
p .first:first-letter {
  float: left;
  font-family: baskerville,"palatino linotype",serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: -0.2em;
  padding: 0.2em 0.1em 0 0;
}

/* line 301, WFPreviewScreen.scss */
p img, a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px;
  background-color: white;
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 325, WFPreviewScreen.scss */
blockquote {
  padding: 0 1em 0 1em;
  margin: 1em 0 1.625em 0;
  font-family: georgia, serif;
  font-style: italic;
  border-left: 4px solid silver;
}
/* line 335, WFPreviewScreen.scss */
blockquote > p {
  margin: 0;
  padding: 0;
}

/* line 344, WFPreviewScreen.scss */
pre, code, tt {
  font: 1em "Courier", Courier, monospace;
  line-height: 1.375em;
}

/* line 351, WFPreviewScreen.scss */
pre, code {
  display: block;
  margin: 1.625em 0;
  white-space: pre-wrap;
}

/* line 359, WFPreviewScreen.scss */
pre code {
  margin-left: 0em;
}

/* line 365, WFPreviewScreen.scss */
tt {
  display: block;
  margin: 1.625em 0;
}

/* line 371, WFPreviewScreen.scss */
ul, ol, dl {
  list-style-position: outside;
  margin: 0 0 1.625em 0;
}

/* line 378, WFPreviewScreen.scss */
dl dt {
  font-weight: bold;
}

/* line 384, WFPreviewScreen.scss */
dl dd {
  margin-left: 1.625em;
}

/* line 392, WFPreviewScreen.scss */
hr {
  margin-bottom: 1.625em;
}

/* line 400, WFPreviewScreen.scss */
.oldbook {
  font-family: "Warnock Pro","Goudy Old Style","Book Antiqua","Palatino",Georgia,serif;
}

/* line 401, WFPreviewScreen.scss */
.note {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.9em;
  margin: 0.1em;
  color: #333;
}

/* line 402, WFPreviewScreen.scss */
.mono {
  font-family: "Courier", Courier, monospace;
}
